<%= form_for(@membership) do |f| %>
  <% if @membership.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@membership.errors.count, "error") %> prohibited this membership from being saved:</h2>

      <ul>
      <% @membership.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
<div>
  Miembro
  <p>
    <%= hidden_field :client_id, :value =>  params[:id]%>
  </p>
</div>
    <div>
      <strong>Membreisa</strong><br>
      <%= f.select(:society_id, @society_options) %>
    </div>
  <div class="field">
    <%= f.label :periodicidad %><br>
    <%= f.select :periodicidad, ['Anual', 'Mensual']%>
  </div>
  <div class="field">
    <%= f.label :fecha_afiliacion %><br>
    <%= f.date_select :fecha_afiliacion %>
  </div>

  <!-- Campos para el pago -->
    <hr>
  <div>
    <strong>Valor a pagar </strong>
    <input id="valor_pago" name="valor_pago" type="number">
  </div>
  <div>
   <strong>Forma de pago:</strong> <select name="formaDePago">
    <%= @formasDePago.each do |forma| %>
        <option value="<%= forma.id %>"><%= forma.nombre %></option>
    <% end %>
  </select>
  </div>
  <div>
   <strong>Valor Recibido:</strong>  <input id="valor_recibido" name="valor_recibido" placeholder="Valor Recibido" type="number">
  </div>


  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
