<h1 class="titulo">Editar Curso</h1>
<div class="jumbotron nuevo div-formulario">
<%= form_for @product, :url => { :action => :updateCourse } do |f| %>
    <% if @product.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@product.errors.count, "error") %> prohibited this product from being saved:</h2>

          <ul>
            <% @product.errors.full_messages.each do |message| %>
                <li><%= message %></li>
            <% end %>
          </ul>
        </div>
    <% end %>

    <div class="field">
      <strong>Nombre: </strong> <br>
      <%= f.text_field :nombre %>
    </div>
    <div class="field">
      <strong>Numero de sesiones: </strong><br>
      <%= f.number_field :cantidad %>
    </div>
    <div class="field">
      <strong>valor sesion: </strong><br>
      <%= f.text_field :valor_unitario %>
    </div>
    <div class="field">
      <%= f.label :valor_total_curso %><br>
      <%= f.text_field :valor_total_curso %>
    </div>
    <div class="actions">
      <%= f.submit 'Guardar', class: "btn btn-lg btn-success" %>
    </div>
<% end %>

</div>