<p id="notice"><%= notice %></p>

<h1>Productos</h1>
<div class="container">


  <table>
    <thead>
    <tr>
      <th>Nombre</th>
      <th>Cantidad</th>
      <th>Valor unitario</th>
      <th>Valor total curso</th>
      <th colspan="30"></th>
    </tr>
    </thead>

    <tbody>
    <% @products.each do |product| %>
        <tr>
          <td><%= product.nombre %></td>
          <td><%= product.cantidad %></td>
          <td><%= product.valor_unitario %></td>
          <td><%= product.valor_total_curso %></td>
          <td><%= link_to 'Show', product %></td>
          <td><%= link_to 'Edit', edit_product_path(product) %></td>
          <td><%= link_to 'Destroy', product, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        </tr>
    <% end %>
    </tbody>
  </table>

  <br>

  <%= link_to 'New Product', new_product_path %>

  <h3>Exportar</h3>
  <%= link_to "CSV" , products_path(format: "csv") %>
  <%= link_to "Excel" , products_path(format: "xls") %>


  <h3>Importar</h3>
  <%= form_tag import_products_path, multipart: true do %>
      <%= file_field_tag :file%>
      <%= submit_tag "Importar"%>
  <%end %>




</div>
