<p id="notice"><%= notice %></p>
<div align="right">
  <%= link_to "Ayuda".html_safe,
              ayudaP_path , class: 'btn btn-danger btn-xs'%>

</div>
<h1 class="titulo">Productos</h1>
<div class="container">

    

    <div class="row">
      <div class="btn-group" role="group" aria-label="...">
        <%= link_to "<i class='fa fa-plus-circle'></i> Nuevo Producto".html_safe,
                    new_product_path, class: 'btn btn-primary btn-lg'%>
      </div>
      <div class="btn-group" role="group" aria-label="...">
          <!-- modal para crear proveedor -->
          <button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#mynewprovider">
            Nuevo proveedor
          </button>
      </div>
    </div>

    <thead>

    <br>
    <hr>

    <div class="row" id="container_providers">
        <%= render partial: "providers/provider", collection: @providers %>
    </div>


    <!-- Modal  create action -->
      <%= form_for(@provider, remote: true) do |f| %>
        <div class="modal fade" id="mynewprovider" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">

            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
              <h4 class="modal-title" id="myModalLabel">proveedor</h4>
            </div>
            
            <div class="modal-body">
              <div class="field">
                        <%= f.label :nombre %><br>
                        <%= f.text_area :nombre, class: "form-control" %>
                      </div>
                      
                      <div class="field">
                        <%= f.label :nit %><br>
                        <%= f.text_area :nit, class: "form-control" %>
                      </div>
                      <div class="field">
                        <%= f.label :telefono %><br>
                        <%= f.text_area :telefono, class: "form-control" %>
                      </div>
                      <div class="field">
                        <%= f.label :direccion %><br>
                        <%= f.text_area :direccion, class: "form-control" %>
                      </div>

            </div>

            <div class="modal-footer">
              <button type="button" class="btn btn-default" data-dismiss="modal" id="mynewproviderclose">Cerrar</button>
              <%= submit_tag "Guardar", class: "btn btn-primary" %>
            </div>
          </div>
        </div>
        </div>
      <% end %>
    <!-- Modal -->



</div>

<table class = "table table-hover">
  <thead>
    <tr>
      <th>Nombre</th>
      <th>Cantidad</th>
      <th>Valor unitario</th>

      <th colspan="30"></th>
    </tr>
  </thead>

  <tbody>
    <% @products.each do |product| %>
    <% if product.tipo_producto == 1 %>
      <tr>
        <td><%= product.nombre %></td>
        <td><%= product.cantidad %></td>
        <td><%= product.valor_unitario %></td>

        <td><%= link_to 'Ver', product,class:"btn btn-primary btn-xs" %></td>
        <td><%= link_to 'Editar', edit_product_path(product), class:"btn btn-success btn-xs" %></td>
        <td><%= link_to 'Eliminar',product, method: :delete, data: { confirm: 'Eliminar?' }, class:"btn btn-danger btn-xs" %></td>


      </tr>
    <% end %>
      <%product end %>
  </tbody>
</table>

<br>


<div>
<h3 class="titulo">Exportar</h3><hr>
<%= link_to "<i class='fa fa-file-text-o' aria-hidden='true'></i> CSV".html_safe,
            products_path(format: "csv"), class: 'btn btn-success btn-sm'%>
<%= link_to "<i class='fa fa-file-excel-o' aria-hidden='true'></i> Excel".html_safe,
            products_path(format: "xls"), class: 'btn btn-success btn-sm'%>
<!--
<%= link_to "CSV" , products_path(format: "csv") %>
<%= link_to "Excel" , products_path(format: "xls") %>
-->
</div>
<div>
<h3 class="titulo">Importar</h3><hr>
<%= form_tag import_products_path, multipart: true do %>
<%= file_field_tag :file%>
<%= submit_tag "Importar"%>
<%end %>
</div>

