<p id="notice"><%= notice %></p>

<p>
  <strong>Nombre:</strong>
  <%= @product.nombre %>
</p>

<p>
  <strong>Cantidad:</strong>
  <%= @product.cantidad %>
</p>

<p>
  <strong>Valor unitario:</strong>
  <%= @product.valor_unitario %>
</p>


<%= link_to "<i class='fa fa-reply' aria-hidden='true'></i> Volver".html_safe,
            products_path, class: 'btn btn-success btn-sm'%>

<%= link_to "<i class='fa fa-pencil-square-o' aria-hidden='true'></i> Editar".html_safe,
            edit_product_path(@product), class: 'btn btn-success btn-sm'%>

