
<div class="jumbotron nuevo">
  <%= render 'form_find_paricipante' %>


<div id="clientefound">
  <br>
  <% if @client.first != nil %>
      <strong>Nombre: </strong><%= @client.first.nombre %><br>
      <strong>Membresia: </strong><%= @client.first.membership.society.nombre  %>
  <% end %>
</div>
</div>
<div id="refresh">
  <%= form_tag url_for(:controller => 'line_items', :action => 'send_receipt'), remote: true do %>
      <p id="notice"><%= notice %></p>

      <div class="container">
        <div class="jumbotron">
          <%= render 'table_lineItems' %>
        </div>

      </div>

  <% end %>

</div>


<script>
    $(document).ready(function() {
        setInterval(function() {
            $("#refresh").load("line_items #refresh");
        }, 1000);
    });
</script>