
<div class="jumbotron nuevo">
  <%= render 'form_find_paricipante' %>


<div id="clientefound">

<!--  <#% if @client.first != nil %>

      <hr color="white">
      <h3><strong>Nombre: </strong><%= @client.first.nombre %> <strong>Apellido: </strong><%= @client.first.apellido %></h3>
      <#% if @client.first.membership != nil %>
      <h3><strong>Membresía: </strong><%= @client.first.membership.society.nombre  %></h3>
      <#% end %>
  <#% end %> -->
</div>
</div>
<div id="refresh">
  <%= form_tag url_for(:controller => 'line_items', :action => 'send_receipt') do %>
      <p id="notice"><%= notice %></p>

      <div class="container">
        <div class="jumbotron">
          <%= render 'table_lineItems' %>
          <div id="botones" class="row">
            <div class="col-sm-6">
            <%= link_to "<i class='fa fa-reply' aria-hidden='true'></i> Volver al carrito".html_safe,
                        tienda_path, class: 'btn btn-success btn-sm'%>
            </div>
            <div class="col-sm-6">
          <p align="right"><%= submit_tag "Finalizar compra", class:'btn btn-success' %> </p>
            </div>
          </div>
        </div>

      </div>



  <% end %>

</div>


<script>
  $(document).ready(function() {
    setInterval(function() {
      $("#refresh").load("line_items #refresh");
    }, 1000);
  });
</script>