<div class="jumbotron nuevo">
  <%= form_tag url_for(:controller => 'line_items', :action => 'findParticipante'), remote: true do %>
      <strong>Buscar Participante</strong>

      <%= text_field_tag('cedula_participante', nil, placeholder: 'Numero Documento') %>
      <%= submit_tag "buscar" %>
  <% end %>
  <div id="clientefound">

  </div>
</div>
<%= form_tag url_for(:controller => 'line_items', :action => 'send_receipt'), remote: true do %>
<p id="notice"><%= notice %></p>

    <div class="container">
      <div class="jumbotron">
<h1>Compra</h1>
<% total = 0 %>


<%= text_field_tag 'hidden'  %>

<table class="table table-hover">
  <thead>
  <tr>
    <td colspan="2">Cantidad</td>
    <td colspan="2">Nombre</td>
    <td colspan="2">Valor Unitario</td>
    <td colspan="2">Valor X Cantidad</td>

  </tr>
  </thead>

  <tbody>
  <tr>
    <% @line_items.each do |line_item| %>

        <td colspan="2"><%= line_item.quantity %></td>
        <td colspan="2"><%= line_item.product.nombre %></td>
        <td colspan="2" class="total_cell"><h4><%= number_to_currency(line_item.product.valor_unitario) %></h4></td>
        <td colspan="2" class="total_cell"><h4><%= number_to_currency(line_item.total_price) %></h4></td>
        </tr>

        <% total = total + line_item.total_price  %>

        </tr>
    <% end %>
  </tbody>
</table>


<input id="valor_total" name="valor_total" value=<%= total %>>
<br>
<%= submit_tag "finalizar" %>
<!-- <%= link_to 'New Line item', new_line_item_path %> -->
      </div></div>
<% end %>


<script>
  temp =  $("#cedula_participante").val()
  $("#hiden").val(temp)
    console.log(temp)
</script>