<div class="row">
  <div class="col-sm-7"><!-- inicio lisa productos -->
    <h1>Productos y Cursos</h1>
    <%= render 'products/lookup' %>

  <div class="refresha">
    <table>
      <td width="950">
        <table class = "table table-hover" >
          <thead>
          <tr>
            <th>Nombre</th>
            <th>Cantidad disponible</th>
            <th># a comprar</th>
            <th>Valor unitario</th>
          </tr>
          </thead>
          <tbody>
          <% @products.each do |product|%>
              <tr>
                <%= form_tag url_for(:controller => 'line_items', :action => 'create'), remote: true do %>
                    <td><h3><%= product.nombre%></h3></td>
                    <td><%= product.cantidad %></td>
                    <td><input id="cantidadC" name="cantidadC" type="number" min="1" value="1"></td>
                    <td><input id="id" name="id" type="hidden" value=<%= product.id %>></td>
                    <td><div class="price_line">
                      <span class="price"><%= number_to_currency(product.valor_unitario)%></span>
                      <%= submit_tag 'Agregar' %>
                    </div>
                    </td>
                    </tr>
                    <% end %>
                </tbody>
          <% end %>
          </table>
      </td>
    </table>
  </div>
    <%= will_paginate @products %>
  </div><!-- fin lisa productos -->
  <div class="col-sm-5"><!-- inicio carrito -->
    <%= render @cart %>
  </div><!-- fin carrito-->

</div>


<script>
  $(document).ready(function() {
    setInterval(function() {
      $("#refresha").load("tienda #refresha");
    }, 1000);
  });
</script>








