<div class="row">
  <div class="col-sm-7"><!-- inicio lisa productos -->
    <h1>Productos y Cursos</h1>
    <%= render 'products/lookup' %>


    <table>
      <td width="950">
        <table class = "table table-hover" >
          <thead>
          <tr>
            <th>Nombre</th>
            <th>Cantidad disponible</th>
            <th>Valor unitario</th>
          </tr>
          </thead>
          <tbody>
          <% @products.each do |product|%>
              <tr>
                <% if product.tipo_producto == 1 %>
                    <td><h3><%= product.nombre%></h3></td>
                    <td><%= product.cantidad %></td>
                    <td><div class="price_line">
                      <span class="price"><%= number_to_currency(product.valor_unitario)%></span>
                      <%= button_to 'Añadir a carrito', line_items_path(product_id: product)%>
                    </div>
                    </td>
                    </tr>
                <% end %>
                </tbody>
          <% end %>
          </table>
      </td>
    </table>

    <%= will_paginate @products %>
  </div><!-- fin lisa productos -->
  <div class="col-sm-5"><!-- inicio carrito -->
    <%= render @cart %>
  </div><!-- fin carrito-->

</div>









