<div class="navbar navbar-default navbar-static-top">
  <div class="container">
    <div class="col-md-3 col-md-offset-5">
    <%= image_tag "logo.jpg", :alt => "Logo", :title => "Logo", :width => "50px", :height => "50px" %>
    <%= link_to 'Pos Yamantaka', root_path, class: "navbar-brand" %>
    </div>
    <% if current_user %>
      <div class="navbar-collapse collapse navbar-responsive-collapse">
        <ul class="nav navbar-nav">
          <li><%= link_to "Mi Perfil", edit_registration_path(current_user)  %></li>
          <li><%= link_to "Membresías", societies_path  %></li>
          <li><%= link_to "Participantes", clients_path  %></li>
          <li><%= link_to "Productos", products_path  %></li>
          <%if current_user.admin?%>
          <li><a href="/admin">admin</a></li>
          <% end %>
          <li><%= link_to "Categorias", categories_path  %></li> 
        </ul>
        <ul>
        
        </ul>
        
        <ul class="nav navbar-right">
          <div>
          <li class="user-name text-right">

           <%= current_user.full_name.present? ? current_user.full_name : current_user.email %>
          </li>
          </div>
          <div>
          <li class="logout"><%= link_to("Cerrar sesion", destroy_user_session_path, 
          class: "btn btn-xs btn-danger", method: :delete) %></li></div>
        </ul>
      </div>
    <% end %>
  </div>
</div>